{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('animal.create') }}">Créer un animal</a>
    </p>
    
   <table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for animal in animalss%}
        <tr>
            <td>
                    <a href="{{ path('animal.show', {id: animal.id, slug: animal.slug }) }}">{{ animal.getTitle() }}</a>
            </td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-primary btn-sm" href="{{ path('animal.edit', {id: animal.id }) }}">Editer</a>
                    <form action="{{ path('animal.delete', {id: Animal.id})}}" metods="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor%}
    </tbody>
    </table> 
{% endblock %}
